# .NET
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json

# Node / Angular
node_modules/
dist/
.angular/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Secrets (aldrig commit rigtige nøgler)
appsettings.Production.json
secrets.json
